<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.input :amount %>
      <%= f.input :ingredient_id, collection: @ingredients %>
      <%= f.input :description %>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
